@model WebApplication4.Models.Item

@{
        Layout = "../Shared/fr/_Layoutfr.cshtml";


}



<!-- Page Content -->
<div class="container">

    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 text-left ">
                        <p style="font-size:xx-large;font-weight:600;float:left">Error Occured !&nbsp;<font style="font-size:x-small"></font></p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row dt-row">
                    <div class="col-md-4 bg-danger" style="background-image: linear-gradient(to right top, #ffd9df, #fedfe3, #fee5e7, #fcebec, #fbf1f1);">

                    </div>
                    <div class="col-md-4 bg-info" id="droppable" style="background-image: linear-gradient(to right, #eceefb, #edeef8, #eeeef4, #eeeef1, #eeeeee);">

                    </div>
                    <div class="col-md-4 bg-success" style="background-image: linear-gradient(to right, #dafdd6, #dcfcd9, #ddfbdc, #dffade, #e1f9e1);">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>